.main {
  background-color: ;
  margin:  0 auto;
  width: 650px;
  font-size: 1rem;
  
}

.personal {
    line height: 2rem;
  text-align: center;
}

.personal p {
  font-size: 1 rem;
}

.personal p span {
    font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 900;
}
